<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref=""></ion-back-button>
    </ion-buttons>
    <ion-title>{{ pokemon?.name | titlecase }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ng-container *ngIf="isLoading; else detailContent">
    <ion-card class="detail-card">
      <ion-skeleton-text animated style="width: 150px; height: 150px; margin: 0 auto 16px;"></ion-skeleton-text>
      <ion-skeleton-text animated style="width: 60%; height: 24px; margin: 0 auto 8px;"></ion-skeleton-text>
      <ion-skeleton-text animated style="width: 80%; height: 16px; margin: 0 auto 4px;" *ngFor="let i of [1,2,3]"></ion-skeleton-text>
    </ion-card>
  </ng-container>

  <ng-template #detailContent>
    <div class="nav-buttons">
      <ion-button fill="outline" (click)="goToPrevious()">Anterior</ion-button>
      <ion-button fill="outline" (click)="goToNext()">Próximo</ion-button>
    </div>

  </ng-template>
  <div class="detail-card">
    <img [src]="pokemon?.sprites?.front_default" class="pokemon-image-detail" />

    <h2>{{ pokemon?.name | titlecase }}</h2>

    <ion-chip color="primary" *ngFor="let type of pokemon?.types">
      {{ type.type.name | titlecase }}
    </ion-chip>

    <p><strong>Altura:</strong> {{ pokemon?.height / 10 }} m</p>
    <p><strong>Peso:</strong> {{ pokemon?.weight / 10 }} kg</p>
    <p><strong>Base XP:</strong> {{ pokemon?.base_experience }}</p>
  </div>
</ion-content>
