<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ pokemon?.name | titlecase }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="pokemon-detail-card">
    <img [src]="pokemon?.sprites?.front_default" alt="{{ pokemon?.name }}" />
    <ion-card-content>
      <h2>{{ pokemon?.name | titlecase }}</h2>
      <p><strong>Tipo:</strong> {{ pokemon?.types[0]?.type?.name }}</p>
      <ion-list>
        <ion-item *ngFor="let stat of stats">
          {{ stat.name | titlecase }}: {{ stat.value }}
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>
