<ion-header>
  <ion-toolbar>
    <ion-title>Detalhes do Pokémon</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="page-content">
    <ion-card class="detail-card">
      <ion-img [src]="pokemon?.image" alt="{{ pokemon?.name }}"></ion-img>

      <ion-card-header>
        <ion-card-title class="pokemon-name">{{ pokemon?.name | titlecase }}</ion-card-title>
      </ion-card-header>

      <ion-card-content>
        <div class="type-container">
          <ion-chip *ngFor="let type of pokemon?.types" color="medium">
            <ion-label>{{ type }}</ion-label>
          </ion-chip>
        </div>

        <div class="info-block">
          <strong>Altura:</strong> {{ pokemon?.height / 10 }} m<br />
          <strong>Peso:</strong> {{ pokemon?.weight / 10 }} kg
        </div>

        <!-- Gráfico será adicionado aqui futuramente -->
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
