<ion-header>
  <ion-toolbar>
    <ion-title>MyPokedex</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-grid>
    <ion-row>
      <ion-col size="6" size-md="4" size-lg="2.4" *ngFor="let poke of pokemons">
        <ion-card button [routerLink]="['/pokemon-detail', poke.name]">
          <img [src]="poke.sprites.front_default" class="pokemon-image" />
          <ion-card-header>
            <ion-card-title class="ion-text-center">
              {{ poke.name | titlecase }}
            </ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

  <!-- Spinner de loading -->
  <ion-spinner *ngIf="isLoading" class="spinner-center" name="crescent"></ion-spinner>

  <!-- Botão "Carregar mais" -->
  <ion-button expand="full" (click)="loadPokemons()" *ngIf="!isLoading">
    Carregar mais
  </ion-button>
</ion-content>
