
<ion-header>
  <ion-toolbar>
    <ion-title>MyPokedex</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="page-content">
    <ion-searchbar
      [(ngModel)]="searchTerm"
      (ionInput)="filterPokemons()"
      placeholder="Buscar Pokémon">
    </ion-searchbar>
    <ion-grid>
      <ion-row>
        <ion-col class="ion-text-center">
          <ion-button
            expand="default"
            fill="outline"
            (click)="showFavoritesOnly = !showFavoritesOnly">
            {{ showFavoritesOnly ? 'Ver Todos' : 'Ver Favoritos'}}
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  <ion-grid>
    <ion-row>
      <ion-col size="12" size-sm="6" size-md="3" *ngFor="let poke of displayedPokemons">
        <ion-card (click)="goToDetail(poke.id)" class="pokemon-card" button>
          <ion-icon
            [name]="isFavorite(poke.id) ? 'heart' : 'heart-outline'"
            (click)="toggleFavorite(poke.id); $event.stopPropagation()"
            style="font-size: 20px; color: red; position: absolute; top: 10px; right: 12px;">
          </ion-icon>
          <img [src]="poke.image" alt="{{ poke.name }}" class="pokemon-image" />
          <ion-card-header>
            <ion-card-title class="ion-text-center">
              {{ poke.name | titlecase }}
            </ion-card-title>
          </ion-card-header>
        </ion-card>
        <ion-card *ngIf="!isLoading && filteredPokemons.length === 0">
          <ion-card-content>Nenhum Pokémon encontrado</ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

  <!-- Botão "Carregar mais" -->
  <ion-grid>
    <ion-row>
      <ion-col class="ion-text-center">
        <ion-button expand="default" (click)="loadMore()" *ngIf="!isLoading" class="load-more-button">
          Carregar mais Pokemons
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>

  <!-- Spinner de loading -->
  <ion-spinner
    message="Carregando Pokémons..."
    duration="5000"
    *ngIf="isLoading" 
    class="spinner-center" 
    name="crescent"></ion-spinner>

  </div>
</ion-content>